[Unit]
Description=Renew LetsEncrypt-certificate
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/etc/letsencrypt
SuccessExitStatus=1
ExecStart=/usr/local/bin/certrenew %i
